.cocktail-info img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border: 3px solid black;
}

header{
  text-align: center;
}

.App {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #00000011;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-container{
  text-align: center;
}

p{
  margin: 10px;
}

h2{
  text-align: center;
}

button{
  background-color: #000000;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 30px;
}

input{
  height: 30px;
}

@media (max-width: 400px) {
  .App {
    margin: 10px;
    max-width: 90%;
  }
}